# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/

# Addressables
ServerData/

# Visual Studio / Rider
.vs/
.idea/
*.suo
*.user
*.userprefs
*.csproj
*.unityproj
*.sln
*.pidb
*.booproj
*.svd

# OS files
.DS_Store
Thumbs.db
